name: Release Actions

permissions:
  # To create a PR
  contents: write
  pull-requests: write
  id-token: write

on:
  workflow_call:
    inputs:
      ref:
        required: true
        description: "GitHub ref to use"
        type: string
      version:
        required: true
        description: "Version to produce"
        type: string
      branch_from_ref:
        required: false
        description: "Commit to branch from, if not the tag"
        type: string
      release-notes:
        required: true
        description: "Release notes to publish"
        type: string

env:
  PULUMI_VERSION: ${{ inputs.version }}
  GITHUB_REF: ${{ inputs.ref }}
  AWS_REGION: us-west-2
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-pulumi-dotnet
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: NUGET_PUBLISH_KEY,PULUMI_ACCESS_TOKEN=PULUMI_ACCESS_TOKEN_PRODUCTION

jobs:
  publish-dotnet-sdk:
    name: Publish dotnet SDK
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          submodules: 'recursive'
      - name: Set up DotNet 8.0.x
        id: setup-dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          dotnet-quality: ga
      - name: Create global.json
        # This ensures that we use the matrix version instead of the runner's default version
        # https://github.com/actions/setup-dotnet?tab=readme-ov-file#matrix-testing
        run: |
          echo '{"sdk":{"version": "${{ steps.setup-dotnet.outputs.dotnet-version }}"}}' > ./global.json
      - name: Dotnet version
        run: dotnet --version
      - name: Install Pulumi CLI
        uses: pulumi/actions@df5a93ad715135263c732ba288301bd044c383c0 # v6
        with:
          pulumi-version: dev
      - name: Build Pulumi SDK
        run: dotnet run build-sdk
      - name: Test Pulumi SDK
        run: dotnet run test-sdk
      - name: Test Pulumi Automation SDK
        run: dotnet run test-automation-sdk
      - name: Publish Packages
        run: dotnet run publish-sdks
